@using ESS.ViewModels

@model AppraisalCardVM;

@{
    DeftOData.DEFT_EmployeeCard employeeCard = ViewBag.EmployeeCard;

    IEnumerable<DeftOData.DEFT_AppraisalPeriods> AppraisalPeriodsQuery = ViewBag.AppraisalPeriodsQuery;
}

@{
    ViewData["Title"] = "Add Appraisal Card Header";
}

@section AppStyles {
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <!--Start of Page Title-->
            <h4 class="mb-0">@ViewData["Title"]</h4>
            <!--End of Page Title-->
            <!--Start of Breadcrumb-->
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);"></a>ESS</li>
                    <li class="breadcrumb-item">Appraisal</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <!--End of Breadcrumb-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 style="display:inline">Add Appraisal </h5>
                    <a asp-action="Index"> <i class="fa fa-list float-end" title="List" style="font-size: 23px;"></i></a>
                </div>
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        @TempData["Message"]
                    </div>
                }

                <div class="row g-0 p-2">
                    <div class="col-md-8">
                        <form asp-action="AddAppraisal" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">

                                <div class="col-md-12 form-group mb-2">
                                    <label asp-for="Appraisal_Period" class="control-label"></label>
                                    <select class="form-control" asp-for="Appraisal_Period" disabled>
                                        @foreach (DeftOData.DEFT_AppraisalPeriods appraisalPeriod in AppraisalPeriodsQuery)
                                        {
                                            <option value="@appraisalPeriod.Period">@appraisalPeriod.Period | @appraisalPeriod.Description</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Appraisal_Period" class="text-danger"></span>
                                </div>


                                <div class="col-md-12 form-group mb-2">
                                    <label asp-for="Appraisal_Subject" class="control-label"></label>
                                    <select class="form-control" asp-for="Appraisal_Subject">
                                        <option value="_blank_"></option>
                                        <option value="CRE">CHRISTIAN RELIGIOUS EDICATION</option>
                                        <option value="ENG">ENGLISH</option>
                                        <option value="A/M">ART/MUSIC</option>
                                        <option value="FR">French</option>
                                        <option value="KISW">KISWAHILI</option>
                                        <option value="MATHS">MATHEMATICS</option>
                                        <option value="S/S">SOCIAL STUDIES</option>
                                        <option value="SCI">SCIENCE</option>
                                    </select>
                                    <span asp-validation-for="Appraisal_Subject" class="text-danger"></span>
                                </div>

                                <div class="offset-md-10 col-md-2 form-group mb-2">
                                    <button class="btn btn-secondary form-control">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section AppScripts {

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- form repeater js -->
    <script src="~/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

    <script src="~/assets/js/pages/form-repeater.int.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

}

