@{
    DeftOData.DEFT_AppraisalCard appraisalCard = ViewBag.AppraisalCard;
}

@{
    ViewData["Title"] = "Details";
}

@section AppStyles {
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <!--Start of Page Title-->
            <h4 class="mb-0">@ViewData["Title"]</h4>
            <!--End of Page Title-->
            <!--Start of Breadcrumb-->
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);"></a>ESS</li>
                    <li class="breadcrumb-item">Leave</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
            <!--End of Breadcrumb-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 style="display:inline">Details </h5>
                    <div style="display:inline" class="float-end">
                        <a asp-action="Index"> <i class="fa fa-list" title="List" style="font-size: 23px;"></i></a>
                    </div>
                </div>
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        @TempData["Message"]
                    </div>
                }
                <div class="row g-0 p-2">
                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Appraisal No.</th>
                                    <td>@appraisalCard.Appraisal_No</td>
                                </tr>
                                <tr>                                    
                                    <th>Appraisee No</th>
                                    <td>@appraisalCard.Employee_No</td>
                                </tr>
                                <tr>
                                    <th>Employee Name</th>
                                    <td>@appraisalCard.Appraisee_Name</td>
                                </tr>
                                <tr>
                                    <th>Department Code</th>
                                    <td>@appraisalCard.Department_Code</td>
                                </tr>
                                <tr>
                                    <th>Appraisee Job Title</th>
                                    <td>@appraisalCard.Appraisee_x0027_s_Job_Title</td>
                                </tr>
                                <tr>
                                    <th>Appraisal Subject</th>
                                    <td>@appraisalCard.Appraisal_Subject</td>
                                </tr>
                                <tr>
                                    <th>Subject Appraiser No</th>
                                    <td>@appraisalCard.Subject_Appraiser_No</td>
                                </tr>
                                <tr>
                                    <th>Subject Appraisers Name</th>
                                    <td>@appraisalCard.Subject_Appraisers_Name</td>
                                </tr>
                                <tr>
                                    <th>Appraisal Term</th>
                                    <td>@appraisalCard.Appraisal_Term</td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Appraisal Period</th>
                                    <td>@appraisalCard.Appraisal_Period</td>
                                </tr>
                                <tr>                                   
                                    <th>From</th>
                                    <td>@appraisalCard.Period_Start</td>
                                </tr>
                                <tr>
                                    <th>To</th>
                                    <td>@appraisalCard.Period_End</td>
                                </tr>
                                <tr>
                                    <th>Appraisal Type</th>
                                    <td>@appraisalCard.AppraisalType</td>
                                </tr>
                                <tr>
                                    <th>Appraiser No</th>
                                    <td>@appraisalCard.Appraiser_No</td>
                                </tr>
                                <tr>
                                    <th>Appraisers Name</th>
                                    <td>@appraisalCard.Appraisers_Name</td>
                                </tr>
                                <tr>
                                    <th>Appraiser's Job Title</th>
                                    <td>@appraisalCard.Appraiser_x0027_s_Job_Title</td>
                                </tr>
                                <tr>
                                    <th>Total_Weighting</th>
                                    <td>@appraisalCard.Total_Weighting</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <form asp-action="PopulateAppraisalGoals" method="post">
                    <tr>
                        <div class="offset-md-10 col-md-2 form-group mb-2">
                            <input type="hidden" name="appNo" value="@appraisalCard.Appraisal_No" />
                            <input type="hidden" name="empNo" value="@appraisalCard.Employee_No" />
                            <button class="btn btn-secondary form-control">Populate Appraisal Goals</button>
                        </div>
                    </tr>
                </form>
            </div>
        </div>
    </div>
</div>


@section AppScripts {

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- form repeater js -->
    <script src="~/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

    <script src="~/assets/js/pages/form-repeater.int.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

}


